<app-header></app-header>

  <!-- <div class="container">
<div class="card">
  <button   class="btn btn-primary">orders</button>
  <h4 class="card-title"> Welcome </h4>
</div>
<div class="center">
    <h5> Your cart is empty </h5>
  <h6>Add item to it now</h6>
  <button routerLink="/products" class="btn btn-primary">Shop Now </button>
</div>
</div> -->


<!-- <div class="container">


      <button class="btn btn-danger form-control  btn-block" routerLink='/login'>Cancel</button></div>
    <div class="col">
      <button id="btnSubmit" class="btn btn-primary form-control btn-block" type="submi">Submit</button></div> -->
<!-- <div class="card">

  <div class="two-buttons">
    <div> <button routerLink="products" id="first">orders</button></div>
    <div><button routerLink="cart" id="second">cart</button></div>
  </div>
  <p>Welcome</p>
</div> -->

<!-- <app-products></app-products> -->
<router-outlet></router-outlet>
